.App{
  display: flex;
}
.listOfComments{
  margin-left: 100px;
  border: 1px solid;
}
.commentForm{
  margin-top: 10px;
  text-align: -webkit-center;
}
.comment{
  margin: 10px;
  padding: 5px;

  border: 1px solid;
}