.mainUsersBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    background: whitesmoke;

    margin: 5px;
    border: 1px solid;

    height: 657px;
}

.users{
    display: flex;
    align-items: center;

    margin-left: 5px;

    height: 9%;
    width: 45%;
}

button {
    height: 50%;

    margin: 10px;
}

h4{
    width: 35%;
}

.infoBox{
    width: 500px;
    height: 500px;

    border: 1px solid;
    padding: 5px;
}

.rockets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border: 1px solid black;
    margin: 5px;
}

.rocketCard{
    width: 19%;

    background: lightblue;
    border: 1px solid black;
    margin: 3px;

    text-align: -webkit-center;
}

img{
    height: 100px;
    width: 100px;
}
