.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background: whitesmoke;
}

p{
  margin: 4px;
  text-align: justify;
}

.simpsonFam{
  display: flex;
}

.simpsonCard {
  margin: 5px;

  background: #c28204;
  border: 1px solid black;

  text-align: center;
  font-size: 15px;
}

/*ram part*/
h1{
  text-align: center;
  font-size: 50px;
  display: block;
}

.ramCard {
  width: 30%;

  text-align: center;
  background: white;

  border: 1px solid black;
  margin: 5px;
}
img{
  border-radius: 10px;
}